.credentials {
  &__item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__icon {
    width: 45px;
    height: 45px;
    font-size: 36px;
    color: var(--col-accent-400);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  h3 {
    margin-bottom: 0.25rem;
  }

  &__logo {
    object-fit: contain;
  }
}
