.home-hero {
  .hero-grid {
    min-height: 400px;
    display: grid;
    grid-template-areas:
      "title  spinner"
      "title image";
    grid-template-columns: 1fr 1.5fr;
    column-gap: 2rem;
    row-gap: 1rem;
    align-items: start;
  }

  .hero-title {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
  }
  .subtitle {
    text-wrap: balance;
  }

  .hero-image {
    grid-area: image;
    box-shadow: var(--shadow-noninteractive);
    border-radius: 8px;
    overflow: hidden;
    .hero-img {
      aspect-ratio: 2 / 1;
      object-fit: cover;
    }
  }

  .hero-spinner {
    margin-block-start: 1rem;
    grid-area: spinner;
    /* Style as needed */
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    &__stat {
      flex-basis: calc(20% - 2rem);
      &:not(:last-child) {
        border-inline-end: 1px solid var(--col-accent-400);
      }
    }
    &__value,
    &__suffix {
      font-size: var(--fs-h3);
      font-weight: var(--fw-heading);
    }
    &__title {
      font-size: var(--fs-ui);
      font-weight: var(--fw-heading);
      line-height: var(--lh-tight);
      text-transform: uppercase;
      color: var(--col-accent-400);
      text-wrap: balance;
      width: min-content;
    }
  }

  .hero-img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  @media (max-width: 900px) {
    .hero-grid {
      grid-template-areas:
        "title"
        "image"
        "spinner";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }
  }
}
