.benefits-list {
  &__item {
    padding-inline-start: 0.5rem;
    .fa-li {
      color: var(--col-accent-400);
      font-size: 28px;
      line-height: 1;
      .list_number {
        font-size: 48px;
        font-weight: var(--fw-heading);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
      }
    }
  }
}
