.why-harrier {
  &__card {
    padding-inline: 1rem;
    border-inline-start: 1px solid var(--col-accent-400);
    height: 100%;
  }
  &__title {
    font-family: var(--ff-accent);
    font-size: var(--fs-body);
    font-weight: var(--fw-accent);
  }
  &__subtitle {
    font-weight: var(--fw-heading);
    font-size: var(--fs-meta);
  }
  &__description {
    font-size: var(--fs-ui);
    font-weight: var(--fw-meta);
  }
}
