.four-col-video {
  &__item {
    h2 {
      background-color: var(--col-neutral-900);
      color: var(--col-white);
      font-size: var(--fs-body);
      font-weight: var(--fw-ui);
      padding: 0.5rem 1rem;
      margin: 0;
      text-align: center;
    }
  }
}
