@import "typography";
@import "colours";
@import "buttons";
@import "footer";
@import "woocommerce";
@import "blocks/blocks";

.wp-block-group {
  &:not(.alignfull) {
    @extend .container;
    & .container {
      padding-inline: 0;
    }
  }
}
.container .container {
  padding-inline: 0;
}

// show stuff that overflows horizontally
// * {
//     outline: 1px solid #f00 !important;
// }
// show stuff that overflows horizontally via console JS
/*
var all = document.getElementsByTagName("*"), i = 0, rect, docWidth = document.documentElement.offsetWidth;
for (; i < all.length; i++) {
    rect = all[i].getBoundingClientRect();
    if (rect.right > docWidth || rect.left < 0){
        console.log(all[i]);
        all[i].style.borderTop = '1px solid red';
    }
}
*/

// @mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
// 	$factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
// 	$calc-value: unquote('#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }');

// 	font-size: $min-value; // Fallback for older browsers
// 	font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)}, #{$calc-value}, #{if($min-value > $max-value, $min-value, $max-value)});
// }

.form-control {
  border-radius: 0;
}

.bg-black {
  background-color: var(--col-black);
}
.text-black {
  color: var(--col-black);
}

.vy-pay-hero {
  &__number {
    strong {
      background-color: white;
      padding: 0.75rem 1rem 0.5rem 0.75rem;
      line-height: 1;
      margin-inline-start: 1rem;
      color: #666;
      display: inline-block;
    }
  }
}
