.woocommerce-checkout #payment {
  background-color: transparent;
  border-radius: 0;
}
.woocommerce #payment .form-row select,
.woocommerce-page #payment .form-row select {
  width: 100%;
}

.woocommerce form .form-row label {
  font-family: var(--ff-sans-secondary);
  font-weight: var(--fw-light);
  font-size: 1rem;
  line-height: 2;
}

.woocommerce-billing-fields__field-wrapper {
  max-width: 700px;
  margin-inline: auto;
}

.form-heading {
  font-size: 1rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--col-accent-400);
  font-family: var(--ff-sans-primary);
  border-bottom: 1px solid var(--col-accent-400);
}

.woocommerce-order-received .woocommerce-thankyou-order-received {
  @extend .u-display;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

/* General state field */
#billing_state,
.woocommerce-billing-fields #billing_state {
  border: var(--wc-form-border-width) solid var(--wc-form-border-color);
  border-radius: var(--wc-form-border-radius);
  font-size: 1rem;
}

/* Match other input fields */
.select2-container .select2-selection--single {
  height: 42px;
  border: var(--wc-form-border-width) solid var(--wc-form-border-color);
  border-radius: var(--wc-form-border-radius);
  font-size: 1rem;
}

/* Align the dropdown arrow */
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 40px;
  right: 10px;
}

.product-quantity {
  display: none;
}
